.profile img{width: 200px;
       height: 200px;}

header{display: flex;
align-items: center;}

main{border: 3px solid rgb(0, 153, 255) ;
    border-radius: 30px;
    width: 500px;}

html {font-size: 20px;}
p {font-size: 1rem;
font-style: italic;
font-weight: 700;}

a:link{color: aqua;}
a:visited{color:aqua}
a.link {text-decoration: none;}