/* body의 자식요소로 배치 적용 */
body {
  display: flex;
  /* 자식요소 배치적용 - 초기에는 화면에 너비로 쌓임 */
  flex-direction: column;
  /* 세로 방향으로 header, main, footer 정렬 */
  align-items: center;    
  /* 가로방향으로 header, main, footer 정렬 */
}

/* border(테두리) 적용 */
.border{
  width: 350px;
  border-width: 3px;
  /* 테두리 두께*/
  border-style: solid;
  /* 테두리 종류 : 실선 */
  border-color: green;
  /* 테두리 색상 */

  margin-bottom: 30px;
  /* margin 아래로 30px만큼 공간을 줘서 다른 section과 겹치지 않게 적용 */

}

/* 자식요소 정렬, padding 추가 */
.center {
  display: flex;
  flex-direction: column; 
  /* 자식요소 세로 방향 정렬 */
  align-items: center;
  /* 자식요소 가로 방향 정렬 */
  justify-content: center;

  padding-bottom: 20px;
  /* padding-bottom으로 content에서 border까지의 하단 거리 조정 */
}


/* h2 태그(섹션 주제)에 darkblue 색상 적용 및 폰트 적용 */
h2 {
  color:darkblue;
  font-family: fantasy, sans-serif;
  /* 폰트 설정 : fantasy 폰트 적용 후 안 되면 sans-serif(적용) */
  }

/* id는 재사용하지 않고, 유일 (class 보다 강력하므로 같은 이름의 class가 묻힘) */
#gitpage {
  color:firebrick;
  font-family: 'Courier New', Courier, monospace;
}