.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #e2e8f0;
}

.todoText {
  color: #111827;
  cursor: pointer;
}

.completedText {
  color: #94a3b8;
  text-decoration: line-through;
  cursor: pointer;
}

.buttonBox {
  display: flex;
  gap: 6px;
}

.completeButton {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: #22c55e;
  color: white;
  cursor: pointer;
}

.completeButton:hover {
  background-color: #4ade80;
}

.deleteButton {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #f87171;
}